@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2278 0.0748 19.8848);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2278 0.0748 19.8848);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2278 0.0748 19.8848);
  --primary: oklch(0.6792 0.2128 36.5324);
  --primary-foreground: oklch(0.9791 0 0);
  --secondary: oklch(0.6792 0.2128 36.5324);
  --secondary-foreground: oklch(0.9551 0 0);
  --muted: oklch(0.9791 0 0);
  --muted-foreground: oklch(0.5486 0 0);
  --accent: oklch(0.9200 0.0435 43.0308);
  --accent-foreground: oklch(0.2727 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9791 0 0);
  --border: oklch(0.9280 0.0060 264.5310);
  --input: oklch(0.9067 0 0);
  --ring: oklch(0.8720 0.0100 258.3380);
  --chart-1: oklch(0.7137 0.1434 254.6240);
  --chart-2: oklch(0.7217 0.1767 305.5038);
  --chart-3: oklch(0.8369 0.1644 84.4286);
  --chart-4: oklch(0.8003 0.1821 151.7110);
  --chart-5: oklch(0.7253 0.1752 349.7607);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2278 0.0748 19.8848);
  --sidebar-primary: oklch(0.2278 0.0748 19.8848);
  --sidebar-primary-foreground: oklch(0.9791 0 0);
  --sidebar-accent: oklch(0.9551 0 0);
  --sidebar-accent-foreground: oklch(0.2727 0 0);
  --sidebar-border: oklch(0.9067 0 0);
  --sidebar-ring: oklch(0.2278 0.0748 19.8848);
  --font-sans: Poppins, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.625rem;
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.05);
  --shadow-xs: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.05);
  --shadow-sm: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.10), 0rem 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.10), 0rem 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.10), 0rem 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.10), 0rem 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.10), 0rem 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2278 0.0748 19.8848);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2278 0.0748 19.8848);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2278 0.0748 19.8848);
  --primary: oklch(0.6792 0.2128 36.5324);
  --primary-foreground: oklch(0.9791 0 0);
  --secondary: oklch(0.6792 0.2128 36.5324);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9551 0 0);
  --muted-foreground: oklch(0.4386 0 0);
  --accent: oklch(0.9200 0.0435 43.0308);
  --accent-foreground: oklch(0.2727 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9791 0 0);
  --border: oklch(0.9280 0.0060 264.5310);
  --input: oklch(0.8545 0 0);
  --ring: oklch(0.8720 0.0100 258.3380);
  --chart-1: oklch(0.7137 0.1434 254.6240);
  --chart-2: oklch(0.7217 0.1767 305.5038);
  --chart-3: oklch(0.8369 0.1644 84.4286);
  --chart-4: oklch(0.8003 0.1821 151.7110);
  --chart-5: oklch(0.7253 0.1752 349.7607);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2278 0.0748 19.8848);
  --sidebar-primary: oklch(0.2278 0.0748 19.8848);
  --sidebar-primary-foreground: oklch(0.9791 0 0);
  --sidebar-accent: oklch(0.9067 0 0);
  --sidebar-accent-foreground: oklch(0.2727 0 0);
  --sidebar-border: oklch(0.8545 0 0);
  --sidebar-ring: oklch(0.2278 0.0748 19.8848);
  --font-sans: Poppins, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.625rem;
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.05);
  --shadow-xs: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.05);
  --shadow-sm: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.10), 0rem 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.10), 0rem 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.10), 0rem 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.10), 0rem 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.10), 0rem 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0rem 0.25rem 0.5rem 0rem hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}